<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>152211587409-3a4gsm9oh0vosfm578ij2nba93tomfbq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.152211587409-3a4gsm9oh0vosfm578ij2nba93tomfbq</string>
	<key>API_KEY</key>
	<string>AIzaSyDRb-oeusfnxyLQdTZtQEU2dilnt4xJPzk</string>
	<key>GCM_SENDER_ID</key>
	<string>152211587409</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.prophetspath</string>
	<key>PROJECT_ID</key>
	<string>prophetpath-6efd8</string>
	<key>STORAGE_BUCKET</key>
	<string>prophetpath-6efd8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:152211587409:ios:13ae0a691bc4b3cd94d370</string>
</dict>
</plist>